<link rel="stylesheet" href="/css/table-user.css">
<link rel="stylesheet" href="/css/addproducts.css">
<link rel="stylesheet" href="/css/editoffer.css">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="/cropper/cropper.css">
<script src="/cropper/cropper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/editOffer.js"></script>


<div class="details-section p-3 ">

    <div class=" shadow rounded-5  input-add-pro p-5 bg-white  bg-opacity-75">


        <form method="post" class="form-add-product" action="/admin/editoffer" enctype="multipart/form-data">

            <div class="row g-3 p-3 ">
                <div class="col-md-6">
                    <!-- Left side -->
                    <label class="form-label" for="productName">Offer Title</label>
                    <input type="text" name="OfferTitle" placeholder="enter Offer Title" class="form-control"
                        id="recipient-name" value="{{offerData.offer_title}}">
                    <h6 class="alertAddProduct" id="productNameAlert"></h6>

                    <label class="form-label" for="category">Category</label>
                    <select name="category" id="category" class="form-select">
                        <option value="{{offerData.category._id}}">{{offerData.category.category}}</option>
                        {{#each category}}
                        <option value="{{this._id}}">{{category}}</option>
                        {{/each}}
                    </select>

                    <label for="recipient-name" class="col-form-label">Start Date</label>
                    <input type="date" name="startDate" placeholder="enter Expire Date" class="form-control"
                        id="recipient-name" value="{{offerData.offer_start_date}}">
                    <label for="recipient-name" class="col-form-label">End Date</label>
                    <input type="date" name="endDate" placeholder="enter Expire Date" class="form-control"
                        id="recipient-name" value="{{offerData.offer_end_date}}">

                    <div class="mb-3">
                        <label class="form-label">Discount Type</label>
                        <div class="form-check">

                            <input class="form-check-input" type="radio" name="discountType" id="editdiscountPercentage"
                                value="percentage" checked>
                            <label class="form-check-label" for="discountPercentage">
                                Discount Percentage
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="discountType" id="editdiscountAmount"
                                value="amount">
                            <label class="form-check-label" for="discountAmount">
                                Discount Amount
                            </label>
                        </div>
                    </div>
                    <h6 class="alertAddProduct" id="qtyAlert"></h6>

                    <label for="recipient-name" class="col-form-label">Discount Value</label>
                    <input type="text" name="discountValue" placeholder="enter Discount Value" class="form-control"
                        id="recipient-name" value="{{offerData.discount_value}}">


                </div>

                <div class="col-md-6">
                    <h5>Chose image for poster</h5>
                    <div class="card text-bg-dark">
                        <img id="image-preview" src="/uploads/{{offerData.offer_banner}}" class="card-img" alt="...">

                    </div>


                    {{!-- Upload image with preview --}}


                    <div class="row">
                        <div class="card-body col-sm-3">
                            <div class="input-upload">
                                <img id="image-preview1" src="" alt="" />
                                <input data-id="1" class="form-control inputImage" name="images" type="file"
                                    id="image-input-1" accept="image/*" />
                            </div>
                        </div>
                    </div>

                    <h6 id="imgAlert"></h6>
                    <label class="form-label" for="aboutProduct"> Offers details</label>
                    <textarea class="form-control" placeholder="Enter a detailed description..." name="offerDetails"
                        id="longdescription" rows="4">{{offerData.offer_details}}</textarea>
                    <h6 class="alertAddProduct" id="longAlert"></h6>
                </div>

            </div>
            <div class="col-12">
                <div class="button-create-cancel">
                    <input type="hidden" name="offerId" value="{{id}}">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-danger" href="/admin/offers">Cancel</a>
                </div>
            </div>

        </form>
    </div>


    {{!-- modal 4 --}}
    <div class="modal fade " id="imageModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="imagecrop4 width-100">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="cropButton" class="btn btn-primary">Crop</button>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


<script>




    document.addEventListener('DOMContentLoaded', function () {


        let cropper;

        const input = document.getElementById('image-input-1')

        input.addEventListener('change', (e) => {
            previewImage(e)

        })


        function previewImage(event) {

            const input = event.target;
            let number = input.getAttribute("data-id");
            let productId = input.getAttribute("data-prod");
            const preview = document.getElementById(`image-preview`);
            const imageElement = document.querySelector(`.imagecrop4`);


            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {



                    $(document).ready(function () {
                        $(`#imageModal4`).modal('show');
                    });


                    let img = document.createElement("img");
                    img.id = 'image';
                    img.src = e.target.result;


                    //append this img tag to a modal
                    imageElement.appendChild(img);
                    
                    //crop image
                    cropper = new Cropper(img, 
                    {
                        aspectRatio: 720 / 360, 
                        viewMode: 1,
                        dragMode: "move",
                        minContainerWidth: 720, 
                        minContainerHeight: 360, 
                        minCropBoxWidth: 720, 
                        minCropBoxHeight: 360,
                        minCanvasWidth: 720, 
                        minCanvasHeight: 360, 
                    });

                };

                reader.readAsDataURL(input.files[0]);

                const cropButton = document.getElementById(`cropButton`);
                cropButton.addEventListener("click", () => {
                    const fileInputsrc = document.getElementById('image-input-1');

                    console.log("Entered crop button")

                    let imgsrc = cropper.getCroppedCanvas().toDataURL("image/jpeg");


                    preview.src = imgsrc;

                    const byteCharacters = atob(imgsrc.split(',')[1]);
                    const byteNumbers = new Array(byteCharacters.length);
                    for (let i = 0; i < byteCharacters.length; i++) {
                        byteNumbers[i] = byteCharacters.charCodeAt(i);
                    }

                    const byteArray = new Uint8Array(byteNumbers);
                    const blob = new Blob([byteArray], { type: 'image/jpeg' });
                    const croppedFile = new File([blob], 'cropped_image.jpg', { type: 'image/jpeg' });
                    const fileInput = document.getElementById('image-input-1');
                    const dataTransfer = new DataTransfer();
                    dataTransfer.items.add(croppedFile);
                    fileInput.files = dataTransfer.files;


                    //close modal
                    var modal = document.getElementById(`imageModal4`);
                    var bootstrapModal = bootstrap.Modal.getInstance(modal);
                    bootstrapModal.hide();
                });
            }
        }




    })

</script>