<link rel="stylesheet" href="/css/ProductManageV2.css">
<div class="details-section">

    <div class="ms-auto me-auto mt-1">

        <main class="table" id="customers_table">
            <section class="table__header">
                <h1>Product Details</h1>

                <div class="input-group1">
                    <input type="search" placeholder="Search Data...">
                  
                </div>

                <div class="export__file" style="display: flex; align-items: center;">
                    <button for="export-file" class="add-product-btn" id="add-product-button"
                        title="Add product" style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; border: none; font-size: 16px;">+</button>
                </div>

            </section>
            <section class="table__body1">
                <table>
                    <thead>
                        <tr>
                            <th>SL<span class="icon-arrow">&UpArrow;</span></th>
                            <th> Product Name <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Product Id<span class="icon-arrow">&UpArrow;</span></th>
                            <th> Description <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Category <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Price <span class="icon-arrow">&UpArrow;</span></th>

                            <th> Stock <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Modify <span class="icon-arrow">&UpArrow;</span></th>

                        </tr>
                    </thead>
                    {{#each data}}
                    <tbody>
                        <tr data-user-id="{{this._id}}">
                            <td>{{inc @index}}</td>
                            <td>{{this.product_name}}</td>
                            <td>{{this.product_id}}</td>
                            <td>{{#if (gt (strlen this.about_product) 50)}}{{substr this.about_product 0 50}}...{{else}}{{this.about_product}}{{/if}}</td>
                            <td>{{this.category}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.stock}}</td>
                            <td>

                                <button id="delete-button" data-product-id="{{this.product_id}}"
                                    data-productvarid="{{this._id}}"
                                    class="btn btn-danger shadow text-center mb-3 delete-button"
                                    style="display: flex; align-items: center;">
                                    <span><i class="fa-solid fa-trash"></i></span>
                                    <span>Delete</span>
                                </button>

                                <a href="/admin/editproduct/{{this._id}}">
                                    <button class="btn btn-info edit-product shadow mb-3"><i
                                            class="fa-solid fa-pen-to-square"></i> Edit</button>
                                </a>

                            </td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </section>
        </main>


    </div>
</div>

<script src="/js/productsManagement.js"></script>
<script src="/js/ProductManageV2.js"></script>
