{{>userNav}}


<div class="main-div container-fluid d-flex   bg-white align-content-center ">

    <div class="address-div shadow  w-100 bg-white p-4 m-2">


{{#each address}}

        <input class="form-check-input border border-dark border-1" type="radio" name="flexRadioDefault" value="{{this._id}}" id="flexRadioDefault{{this._id}}">
        <label class="form-check-label pb-3 " for="flexRadioDefault{{this._id}}">
            <p class="border border-dark border-5 p-2 ">{{this.name}}
                <br>
                {{this.addressLine1}}
                <br>
                {{this.addressLine2}}
                <br>
                {{this.city_dist_town}}
                <br>
                {{this.state}}
                <br>
        Address Type: {{this.type}} 
        
            </p>
        </label>

{{/each}} 

        <h4 class=" text-center pt-2">Or</h4>
        <div class="d-grid gap-2 pt-3 ">
            <a  class="btn btn-dark " href="/profile/manageaddress/addaddress/{{userId}}">
                <button class="text-white " type="button">+ Add New Address</button>
            </a>
        </div>
    </div>

    <div class="p-4 w-100 shadow">
        <div class="bg-white">
            <h3 class="p-3"> Order Summary</h3>

            <h5 class="ps-3 text-dark">Subtotal : ₹{{cartValue}}</h5>
            <hr class="bg-dark">
            <h5 class="ps-3 text-dark">Coupon Discount : {{discount}}</h5>
            <hr class="bg-dark">
            <h3 class="ps-3 pb-3  text-dark">Order Total: ₹{{cartValue}}</h3>

        </div>

        <div class="bg-white ">
            <input type="text" id="user-id"  value="{{userId}}" disabled="true" hidden>
            <h3 class="p-3 text-success "> Select Payment Method</h3>
            <div class="p-4 justify-content-between d-flex">
                <input type="radio" class="btn-check" name="payment-option" id="cod-radio" autocomplete="off">
                <label class="btn btn-outline-success" for="cod-radio">COD</label>

                <input type="radio" class="btn-check" name="payment-option" id="upi-radio" autocomplete="off">
                <label class="btn btn-outline-info" for="upi-radio">UPI</label>
            </div>

            <div class="d-grid gap-2 p-3 justify-content-center  ">
                <a href="#" id="place-order-link">
                    <button id="place-order-btn" class="btn btn-dark" type="button" disabled>Place Your Order and Pay</button>
                   
                </a>
            </div>
        </div>
    </div>



</div>

   

{{>userFooter}}

<script>












    const userId= document.getElementById('user-id').value
   


    let selectedAddressId = null;

// Attach a change event listener to the radio buttons
$('input[name="flexRadioDefault"]').change(function () {
    // Get the selected _id
    selectedAddressId = $(this).val();

    // Now you can use selectedAddressId as needed
    console.log(selectedAddressId);
    // Perform any other actions you want based on the selected _id
});







    $(document).ready(function () {
        // Disable button initially
        $("#place-order-btn").prop("disabled", true);

        // Enable button when a radio button is clicked
        $("input[name='payment-option']").change(function () {
            $("#place-order-btn").prop("disabled", false);
            // Update href to the desired link when the button is enabled
            $("#place-order-link").attr("href", `/profile/mycart/checkout/placeOrder?userId=${userId}&addressId=${selectedAddressId}`);
        });

        // Handle click event on the link
        $("#place-order-link").click(function (event) {
            // Prevent navigation if the button is disabled
            if ($("#place-order-btn").prop("disabled")) {
                event.preventDefault();
            }
        });

    });


</script>









<style>
    .main-div {
        padding: 5% 10%;
    }
</style>