{{>userNav}}
{{>profileLayout}}
<link rel="stylesheet" href="/css/myOrders.css">
{{!-- ordeer details starts here --}}
<div class="info-section text-dark w-auto shadow scrollable-div p-3 mt-5">
  {{!-- new starts --}}
  <div class="container">
    <div style="padding-top: 30px;" class="customer_details orderList">
      <div class="orderTop ">
        <h2 class="hidden-xs pb-3">My Orders</h2>
        <input class="form-control mb-3" type="text" placeholder="Search Orders" aria-label="default input example">
        <button class="btn btn-dark ">Search</button>
        <h4 id="alert" class="text-center p-3 text-success"></h4>
      </div>
      <div class="order_tab">
        <ul class="tabs">
          <li class="tab-link current" data-tab="order_tab">Orders</li>
          <li class="tab-link" data-tab="buy_again">Buy Again</li>
          <li class="tab-link" data-tab="open_orders">Open Orders</li>
          <li class="tab-link" data-tab="cancelled_orders">Cancelled Orders</li>
        </ul>
        <div class="orderFilter">
          <label>Order <span>placed in</span></label>
          <select>
            <option value="">Last 30 Days</option>
            <option value="">Past 6 Month</option>
            <option value="">2019</option>
            <option value="">2018</option>
          </select>
        </div>
      </div>
      {{#each orderData}}
      <div id="order_tab" class="orderCardWrap tab-content1 current mt-2 order_tab ">
        <div class="orderCard rounded-4">
          <div class="orderHead rounded-4    ">
            <ul class="orderLeft">
              <li>
                <p>ORDER PLACED <span>{{this.orderDate}}</span></p>
              </li>
              <li>
                <p>TOTAL <span>Rs {{this.orderAmount}}</span></p>
              </li>
              <li>
                <p>SHIP TO <span class="customerName">{{this.addressName}}</span>
                  <span class="cstmrInfo">
                    <strong> {{this.addressName}}</strong> {{this.addressLine1}} {{this.addressLine2}}
                  </span>
                </p>
              </li>
            </ul>
            <div class="invoiceDetails text-black ">
              <p>ORDER # {{this.orderNo}}
              </p>
              <a href="/profile/myorders/view/{{this._id}}">Order Details</a>
              <span class="showInvoice">
                <div class="invioceModel">
                  <ul>
                    <li><a href="#">Invoice 1</a></li>
                  </ul>
                  <span class="modelClose"><i class="fa fa-times" aria-hidden="true"></i></span>
                </div>
            </div>
          </div>
          <div class="itemDetails">
            <h3>{{this.orderStatus}}</h3>
            <p>Package was handed to a receptionist</p>
            <p>Signed by: Afsal.</p>
            {{#each this.OrderedItems}}
            <div class="itemInfo">
              <div class="itemImg p-3 ">
                <img src="/uploads/{{this.image}}" alt="">
              </div>
              <div class="itemDesc">
                <h4>{{this.productname}}</h4>
                <p>Sold by: <span>Our Shop</span></p>
                <P>Quantity: <span>{{this.variantId.quantity}}</span></P>
                {{!-- <span class="itemPrice">Rs {{this.orderAmount}}</span> --}}
                <a href="/products/{{this.variantId.product_varient_id}}">
                  <button class="buy_again">Buy it again</button>
                </a>

              </div>
            </div>
            {{/each}}
            <div class="btn_group">
              <button data-id="{{this._id}}"  class="buy_again return-product">Return this Order</button>
              <button data-id="{{this._id}}" class="gift_btn">Leave Review</button>
              <button data-id="{{this._id}}" class="gift_btn">Track Order</button>
              {{#if this.cancel}}
              <button disabled="true" id="cancel-order-{{this._id}}" class=" btn-danger btn "
                data-id="{{this._id}}">Cancel Order</button>
              {{else}}
              <button id="cancel-order-{{this._id}}" class=" btn-danger btn " data-id="{{this._id}}">Cancel
                Order</button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

      {{/each }}
      <div id="buy_again" class="orderCardWrap tab-content1">
        <div class="again">
          <h2>Frequently repurchased in Health & Personal Care</h2>
          <ul>
            <li>
              <img src="images/product1.jpg" alt="">
              <h4>Pigeon Stainless Steel Swig Water Bottle 750ml (Set of 2)</h4>
              <span>Rs {{this.orderAmount}}</span>
              <button class="buy_again">Add to Cart</button>
            </li>
            <li>
              <img src="images/product1.jpg" alt="">
              <h4>Pigeon Stainless Steel Swig Water Bottle 750ml (Set of 2)</h4>
              <span>$413.00</span>
              <button class="buy_again">Add to Cart</button>
            </li>
            <li>
              <img src="images/product1.jpg" alt="">
              <h4>Pigeon Stainless Steel Swig Water Bottle 750ml (Set of 2)</h4>
              <span>$413.00</span>
              <button class="buy_again">Add to Cart</button>
            </li>
            <li>
              <img src="images/product1.jpg" alt="">
              <h4>Pigeon Stainless Steel Swig Water Bottle 750ml (Set of 2)</h4>
              <span>$413.00</span>
              <button class="buy_again">Add to Cart</button>
            </li>
          </ul>
        </div>
      </div>
      <div id="open_orders" class="orderCardWrap tab-content1">
        Lorem1
      </div>
      <div id="cancelled_orders" class="orderCardWrap tab-content1">
        <div class="orderCard">
          <div class="orderHead">
            <ul class="orderLeft">
              <li>
                <p>ORDER PLACED <span>12 March 2019</span></p>
              </li>
              <li>
                <p>TOTAL <span>$413.00</span></p>
              </li>
              <li>
                <p>SHIP TO <span class="customerName">Customer Name</span>
                  <span class="cstmrInfo">
                    <strong>Customer Name</strong> Lorem Ipsum is simply dummy text
                  </span>
                </p>
              </li>
            </ul>
            <div class="invoiceDetails">
              <p>ORDER # 171-8448362-6456308</p>
            </div>
          </div>
          <div class="itemDetails">
            <h3>Delivered 16-Mar-2019</h3>
            <p>Package was handed to a receptionist</p>
            <p>Signed by: Priti.</p>
            <div class="itemInfo">
              <div class="itemImg">
                <img src="images/product1.jpg" alt="">
              </div>
              <div class="itemDesc">
                <h4>Pigeon Stainless Steel Swig Water Bottle 750ml (Set of 2)</h4>
                <p>Sold by: <span>E-Emporium</span></p>
                <span class="itemPrice">$0.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{{>userFooter}}



<script>


  document.addEventListener('DOMContentLoaded', function () {
   
    let parentContainers = document.querySelectorAll('.order_tab');

    
    parentContainers.forEach(function (parentContainer) {
      parentContainer.addEventListener('click', function (event) {



        console.log(event)

        if (event.target.classList.contains('btn-danger')) {



          let id = event.target.getAttribute('data-id');

          let alert = document.getElementById('alert');

          console.log(id);

          fetch('/profile/cancelOrder', {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ id: id }),
          })
            .then(response => response.json())
            .then(data => {
              if (data) {

                swal({
                  icon: 'success',
                  title: 'Success!',
                  text: 'Your request was successful.',
                })

                event.target.disabled = true;



                console.log("orders success");

              } else {
                console.log("else working");
                alert.innerText = "Some error";
              }

              console.log(data);
            })
            .catch(error => {
              console.error('Error:', error);
            });
        }
      });
    });
  });



  const returnButton = document.querySelectorAll('.return-product')

  returnButton.forEach((btn) => {

      btn.addEventListener('click', () => {
        
        const id = btn.getAttribute('data-id')

        
swal({
  icon: "warning",
  title: 'Select Return Reason',
  content: {
    element: "select",
    attributes: {
      id: "return-reason",
      innerHTML: `
        <option value="defective">Defective Product</option>
        <option value="wrong">Wrong Item Sent</option>
        <option value="unsatisfied">Unsatisfied with the Product</option>
        <option value="other">Other</option>
      `
    },
    
  },
  buttons: {
    confirm: true,
    cancel: true,
  },
}).then((value) => {
  if (value) {
    const reason = document.getElementById('return-reason').value;

    fetch('/profile/returnProduct', {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json',

      },
      body: JSON.stringify({ id: id, reason: reason }),
    }).then(response => response.json()).then(data => {
      if(data)
      {
        swal("Success", "your request was successful", "success").then(() => {
          window.location.reload()
        })

      }
    })
  
    
  }
});


      })


  })











  $(".showInvoice").click(function () {
    $(".invioceModel").show();
  });
  $(".modelClose").click(function () {
    jQuery(this).parent(".invioceModel").hide();
  })

  jQuery('.order_tab ul.tabs li').click(function () {
    var tab_id = jQuery(this).attr('data-tab');

    jQuery('.order_tab ul.tabs li').removeClass('current');
    jQuery('.tab-content1').removeClass('current');

    jQuery(this).addClass('current');
    jQuery("#" + tab_id).addClass('current');
  })




</script>