{{>userNav}}
{{>profileLayout}}
<link rel="stylesheet" href="/css/myWallet.css">


<div class="info-section text-dark 
             p-3 mt-5">
    <h2 class=" pb-3 ">Referral Information</h2>
    <div class="d-flex">



        <div class=" p-sm-1 p-lg-5    rounded-4  m-2 d-inline-block   shadow align-content-center text-center ">
            <h4><i class="fa-solid fa-share-nodes"></i> Total Referral</h4>
            <h4 class="pt-2 pb-2 text-success " id="balance">{{walletData.balance}}</h4>

        </div>
        <div class="mt-auto mb-auto border-1 shadow  p-3  rounded-4  m-2 d-inline-block ">
            <span class="text-success">Your Reffrel Link : <h6 class="pt-2 pb-2" id="link">  {{referralLink}}{{personalInfo._id}}</h6></span>
            <p>You will Get RS100 in your wallet  for each referal </p>
            <p class="text-danger" id="error"></p>
            <button id="copyButton" class="btn btn-primary me-5   mt-1    "><i class="fa-solid fa-clipboard"></i> Copy Your Reffral Link</button>
        </div>

    </div>


    <div class="container">
    <div class="header_wrap">
        <div class="num_rows d-flex justify-content-between  ">

            <div class="form-group d-flex">
                <button class="btn btn-primary"> Show </button>
                <select class="form-control" name="state" id="maxRows">
                    <option value="5">5</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="70">70</option>
                    <option value="100">100</option>
                    <option value="5000">Show ALL Rows</option>
                </select>

            </div>
             <div class="tb_search d-flex
             mb-3">
            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.."
                class="form-control">
        </div>
        </div>
       
    </div>
    <table class="table table-striped table-class shadow rounded-2  " id="table-id">


            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                            {{#each refrralHistory.history}}
                            <tr>
                                <th>{{this.name}}</th>
                                <td>{{this.date}}</td>
                                <td>{{this.Amount}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
        </table>

        <div class='pagination-container'>
            <nav>
                <ul class="pagination">
                </ul>
            </nav>
        </div>
        <div class="rows_count">Showing 11 to 20 of 91 entries</div>

    </div>

</div>
</div>
</div>
{{>userFooter}}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        
        document.getElementById('copyButton').addEventListener('click', function () {
        
        const copyText = document.getElementById("link").innerText

        console.log(copyText)

       // copyText.select();
        //copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText);

        document.getElementById('error').innerHTML = "Link Copied"

    })


    })
    
</script>