{{>userNav}}





<div class="main-div container-fluid d-flex flex-column bg-white align-content-center mt-5  ">



    <div class="container mt-4 mb-4 ">
        <div class="row d-flex cart align-items-center justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="d-flex justify-content-center border-bottom">

                    </div>
                    <div class="row g-0">

                        <div class="col-md-6 border-right p-5">
                            <div class="text-center order-details">
                                <div class="d-flex justify-content-center mb-5 flex-column align-items-center"> <span
                                        class="check1"><i class="fa fa-check"></i></span> <span
                                        class="font-weight-bold">Order Confirmed</span> <small class="mt-2">Order No :
                                        <b>{{orderData.orderId}} </b> <br></small> <a href="#"
                                        class="text-decoration-none invoice-link">View Invoice</a> </div>
                                <a href="/profile/myorders/{{orderData.addressData.0.userId}}">
                                    <button class="btn btn-danger btn-block order-button">Go to your Order</button>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-6 background-muted">
                            <div class="p-3 border-bottom">
                                <div class="d-flex justify-content-between align-items-center"> <span><i
                                            class="fa fa-clock-o text-muted"></i> 3 days delivery</span> <span><i
                                            class="fa fa-refresh text-muted"></i> 7 Days return</span> </div>
                                <div class="mt-3">
                                    <div class="card-body">
                                        Delivery Address :
                                        <br> {{orderData.addressData.0.name}} <br>
                                        {{orderData.addressData.0.mobile}} <br>
                                        {{orderData.addressData.0.addressLine1}} <br>
                                        {{orderData.addressData.0.addressLine2}} <br>
                                        {{orderData.addressData.0.city_dist_town}} <br>
                                        {{orderData.addressData.0.pincode}} <br>
                                        <h6> <b>Adress Type: {{orderData.addressData.0.type}}</b></h6>

                                    </div>
                                </div>
                            </div>

                            <div class="row g-0 border-bottom">
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center">
                                        <span>Subtotal</span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center"> <span>₹
                                             {{orderData.subTotal}}</span> </div>
                                </div>
                            </div>
                            <div class="row g-0 border-bottom">
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center"> <span>Delivery
                                            Charge</span> </div>
                                              <div class="p-3 d-flex justify-content-center align-items-center"> <span>Coupon 
                                            Discount</span> </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center"> <span>₹ 0</span>
                                    </div>
                                    <div class="p-3 d-flex justify-content-center align-items-center"> <span>₹
                                        {{#if orderData.discount}}
                                        {{orderData.discount}}
                                        {{else}}
                                        0
                                        {{/if}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center"> <span
                                            class="font-weight-bold">Total</span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center"> <span
                                            class="font-weight-bold">₹ {{orderData.totalAmount}}</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div> </div>
                </div>
            </div>
        </div>
    </div>


</div>




{{>userFooter}}

<style>
    .main-div {
        padding: 5% 10%;
    }
</style>